<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/3421528F5E3679CEA7D89FE51BE6DE6904289364AD148688A2E236A340144BF6/scale?width=1200&aspectRatio=1.78&format=webp"
      alt=""
      height="200px"
      srcset=""
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#">What is Lorem Ipsum?</a></h1>
  </div>
  <div class="big-card__description">
    <p><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</a></p>
  </div>
</div>
