<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id={{bigCard?.id}}
      photoCover="{{bigCard?.photoCover}}"
      cardTitle="{{bigCard?.title}}"
      cardDescription="{{bigCard?.description}}"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card *ngFor="let article of smallCards"
      Id="{{article.id}}"
      photoCover="{{article.photoCover}}"
      cardTitle="{{article.title}}"
    ></app-small-card>
  </div>
</div>
